.env
.venv/
venv/
__pycache__/
*.pyc
.idea/
.vercel/
.DS_Store
instructions/Assignment 2_ Find Data Sources for your Al Agents.pdf
instructions/Batch1_4_Aviv_Murad.pdf
data/Housing_Maintenance_Code_Complaints_and_Problems_20260810.csv